body {
  margin: 0;
  padding: 0;
}
::placeholder {
  opacity: 0.3;
}
.task-block {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 13px 93px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 93px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 93px -20px rgba(0, 0, 0, 0.75);
}
.create-task-value {
  line-height: 50px;
  width: 100%;
  border: none;
  padding: 16px 16px 16px 60px;
  font-size: 24px;
  box-sizing: border-box;
  outline: none;
  background-color: rgba(250, 250, 250, 0.918);
}
.create-task {
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
.create-task-value + label:before {
  position: absolute;
  top: 15px;
  left: 0px;
  content: "❯";
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
  transform: rotate(90deg);
  cursor: pointer;
}
.change-label-color + label:before {
  color: #616161;
}
.footer-block-shadow {
  display: flex;
  justify-content: center;
}
.footer-block-1 {
  width: 595px;
  height: 4px;
  background-color: rgb(235, 233, 233);
  border: 1px solid rgb(211, 211, 211);
  position: absolute;
  margin-right: 13px;
  z-index: 3;
}
.footer-block-2 {
  width: 590px;
  height: 4px;
  background-color: rgb(235, 233, 233);
  border: 1px solid rgb(211, 211, 211);
  position: absolute;
  margin-top: 5px;
  z-index: 2;
}
